PortableGit
emacs-24.5-bin-i686-mingw32
auto-save-list
server
/.emacs.d/recentf
/.emacs.d/tramp
/.emacs.d - 副本/recentf
/.emacs.d - 副本/tramp
/.viminfo
archives
.backups
/.emacs.d/.emacs.desktop.lock
/.emacs.d/.session
/.emacs.d/.emacs.desktop
/.emacs.d/history
/.emacs.d/places
/.emacs.d/projectile-bookmarks.eld
/.emacs.d/projectile.cache
/.emacs.d/elpa/org-plus-contrib-20160125/*.el~
elpa
